<!DOCTYPE html>
<html>
<head>
  <title>ReactRouterTest1</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD0aJPt5PYuQ1hyDTfhkw84CliWkiNA4nI"></script>
   <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.8/src/markerwithlabel.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if notice %>
    <p class="flash-success" id="notice"><%= notice %></p>
  <% end %>
  <%= yield %>

</body>
</html>
